@import "../../../../node_modules/semantic-ui-css/semantic.min.css";
.naa-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.naa-layout-content {
    flex: 1;
    margin: 0 0 4rem 0;
}

.naa_header__nav.ui.inverted.menu {
    border: none;
    border-radius: 0;
    margin-bottom: 4rem;
}
.naa_header__nav-logo {
    text-transform: uppercase !important;
    font-size: 1.5rem;
}
.naa_header__nav.ui.inverted.menu .naa_header__nav-item.item {
    text-transform: capitalize;
    font-weight: bold;
}
